html {
  box-sizing: border-box;
  font-size: 20px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url("wood.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Coming soon", cursive;

  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  padding: 0.4rem;
}
.delete {
  background-color: #96031a;
  border-style: none;
  border-radius: 0.4rem;
  color: #ffdbad;
  height: 2rem;
  font-family: "Raleway", sans-serif;
  width: 4rem;
  margin-left: 0.4em;
  margin-right: 0.4em;
  vertical-align: middle;
}

.mark {
  background-color: #ffdbad;
  border: 2px solid #3c1518;
  border-radius: 0.4rem;
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
}

.submit-button {
  background-color: #3c1518;
  border-style: none;
  border-radius: 0.4rem;
  color: #ffdbad;
  height: 2rem;
  font-family: "Raleway", sans-serif;
  width: 4rem;
  vertical-align: middle;
  float: right;
}

.textbox {
  font-family: "Coming Soon", sans-serif;
  background-color: #ffdbad;
  border: 2px solid #3c1518;
  border-radius: 0.4rem;
  height: 2rem;
  width: calc(100% - 4.2rem);
  vertical-align: middle;
  float: left;
}

#outer-container {
  width: 70vw;
  height: 80vh;
  border-radius: 5%;
  background-color: #ffdbad;
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.buttoncontainer {
  float: right;
}
#todo-container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
#todo-container::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
#todo-container {
  overflow-y: scroll;
}
#todo-container ul li {
  height: 4em;
}
#add-todo {
  margin-top: auto;
}
